SUPABASE_URL=https://lbxgmidiockvkunkevgw.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxieGdtaWRpb2Nrdmt1bmtldmd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkwNTMxNDcsImV4cCI6MjA3NDYyOTE0N30.7bIT4_x1JyqQIoQcya0t7XQKhY0BZJfzGW9xbVYxl38
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxieGdtaWRpb2Nrdmt1bmtldmd3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTA1MzE0NywiZXhwIjoyMDc0NjI5MTQ3fQ.HXT4XwgC_lfnhrQGCpK9xkyBKQCQswfxEPn1QvKthGI

JWT_SECRET_KEY=dnfbnbjvfjdifdfdvcvmv
JWT_ACCESS_TOKEN_EXPIRES=8640000

SMTP_USERNAME=appsanant@gmail.com
SMTP_PASSWORD=stxg hgcl tbdk gwas

FLASK_ENV=development
FLASK_DEBUG=True
PORT=8000

# Perplexity API
PERPLEXITY_API_URL=https://api.perplexity.ai/search
PERPLEXITY_API_KEY=xxxxx

# Pixabay API for images
PIXABAY_API_KEY=39685598-c3e4f7c5a5c1b7c7d7c5a5c1b

# Google API for concept mapping
GOOGLE_API_KEY=AIzaSyDQm8vMZJJGUYnl5qNQO0lTGXQ8R_c_dLk
GEMINI_MODEL_NAME=gemini-2.5-flash

GOOGLE_CSE_KEY=AIzaSyAsLEfwODrs3YXeU8MdOO1Pyho
GOOGLE_CSE_ID=a7e9a5da194813

# Cloudflare R2 storage
R2_ACCESS_KEY=bad9bc25fb8292571183e9995ae6cb51
R2_SECRET_KEY=a3fc356bdda71d0c9413c4474cf68830c8911aaacfcc06f971ea655715ca2963
R2_ACCOUNT_ID=b46d610619e1d771c7c118154f1259fb
R2_BUCKET=content-generation
R2_BASEURL=https://ccscontent.mafatlaleducation.dev
R2_ENDPOINT=https://pub-4ed01b1ebd0c4141af4e51f84c5b1e93.r2.cloudflarestorage.com

ELEVENLABS_API_KEY=240cd09ee2059c20d8e2500bd04116404fdce18061cc083b28e6926aa3faf591
ELEVENLABS_MODEL_ID=eleven_v3

# HeyGen API Key for video generation
HEYGEN_API_KEY=your_heygen_api_key_here