fastapi
uvicorn[standard]
pydantic
requests
python-dotenv
psycopg2-binary
torchcodec
supabase
pyjwt
bcrypt
boto3
email-validator
python-multipart
requests
langchain-openai
langchain-core
websockets 
soundfile 
numpy>=1.24.0,<2.0.0
pandas>=2.0.0
torch
librosa 
TTS
transformers<4.36.0
hf_xet
gradio
opencv-python