fastapi
uvicorn[standard]
pydantic
python-dotenv
psycopg2-binary
supabase
pyjwt
bcrypt
email-validator
python-multipart
requests
langchain-openai
langchain-core
faster-whisper 
websockets 
soundfile 
numpy 
torch
librosa 
soundfile
TTS
requests
hf_xet