fastapi
uvicorn[standard]
pydantic
requests
python-dotenv
psycopg2-binary
supabase
pyjwt
bcrypt
boto3
email-validator
python-multipart
requests
langchain-openai
langchain-core
faster-whisper 
websockets 
soundfile 
numpy 
torch
librosa 
TTS
transformers
hf_xet
gradio